@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o1ixff');
  src:  url('fonts/icomoon.eot?o1ixff#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o1ixff') format('truetype'),
    url('fonts/icomoon.woff?o1ixff') format('woff'),
    url('fonts/icomoon.svg?o1ixff#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
  content: "\e909";
}
.icon-covered-plate-of-food:before {
  content: "\e90a";
}
.icon-suitcase:before {
  content: "\e906";
}
.icon-place:before {
  content: "\e907";
}
.icon-furniture:before {
  content: "\e908";
}
.icon-medal:before {
  content: "\e903";
}
.icon-child-ballon:before {
  content: "\e904";
}
.icon-baby-silhouette:before {
  content: "\e905";
}
.icon-plane-go:before {
  content: "\e901";
}
.icon-plane-back:before {
  content: "\e902";
}
.icon-airplane-ticket:before {
  content: "\e900";
}
