/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
    overflow-x: hidden;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*Custom CSS*/

.font-12 {
    font-size: 12px !important;
}

.weight-100 {
    font-weight: 100 !important;
}

.weight-500 {
    font-weight: 500 !important;
}

.blue-color {
    color: #38457C;
}

.white-color {
    color: white;
}

.gray-color {
    color: #888888;
}

.no-decoration {
    text-decoration: none !important;
    color: #737373 !important;
}

.no-decoration:hover {
    text-decoration: none !important;
    color: #656565 !important;
}

.bold {font-weight: bold !important;}

.btn-block {font-weight: bold;}

.bg-gray {background: #FBFBFB;}

.no-background{
    background:  none;
    border: 0;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-desktop {
    padding: 0 !important;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-r-10{margin-right: 10px;}
.m-r-5{margin-right: 5px;}
.m-l-3{margin-left:3px;}

.p-p-5 {padding: 5px !important;}

.p-10{padding: 10px !important;}

.p-t-0 {
    padding-top: 0px !important;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-t-80 {
    padding-top: 80px;
}

.p-l-10{padding-left: 10px;}

.p-t-55 {
    padding-top: 55px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.p-b-80 {
    padding-bottom: 80px;
}

.p-l-4 {
    padding-left: 4px !important;
}

.p-r-4 {
    padding-right: 4px !important;
}

.p-l-6 {
    padding-left: 6px !important;
}

.p-r-6 {
    padding-right: 6px !important;
}

.p-b-0 {
    padding-bottom: 0px !important;
}

.bold {font-weight: bold !important;}

.navbar-brand img{
    display: block;
    max-width: 167px;
}

.box-logo-menu {width: 100%;}

.navbar {
    background-color: #FFF;
}

.navbar-nav {
    height: 100% !important;
}

.nav-item {
    padding-right: 40px;
    padding-left: 40px;
    position: relative;
}

.navbar-toggler {margin-top: 12px;}
.navbar-toggler span {color:#999;}

@media (max-width: 425px){
    .navbar-collapse{
        width: 320px;
        margin-top: 10px;
        padding-top: 20px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
}

.menu-center {
    height: 65px;
}

.menu-center .active {
    background-size: contain;
    background: url(../img/navitem-background.svg) no-repeat bottom;
}

.menu-center .active p,
.menu-center .active i {
    color: white;
}

.nav-item p {
    margin: 0 !important;
    font-size: 0.7rem;
    padding-bottom: 5px;
    font-weight: 100;
}

.nav-item i {
    font-size: 15px;
}

.nav-link {
    display: block;
    padding: 0 1rem !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
        padding-top: 20px !important;
    }
}

.active-tab-menu i {
    font-size: 15px;
}

.active-tab-menu .icon-airplane-ticket {
    font-size: 19px !important;
}

.account span {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 100;
    line-height: 14px;
    color: #838383;
}

.tabs {
    display: none;
    padding: 30px;
}

.first-tab {
    display: block;
}

.masthead {
    background-color: #3C4B87;
    margin-top: -1px;
}

.menu {
    display: inline-flex;
}

.menu p {
    padding: 0;
}

.form-group {
    margin-bottom: 15px;
}

a.link {
    color: #FF6D00 !important;
    font-weight: 500;
    font-size: 13px;
}

a.link:hover {
    color: #d05900 !important;
    text-decoration: none;
}

label {
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder,
select {
    font-size: 12px;
    padding-top: 3px;
}

.link {
    line-height: 2.3;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}

.orange-button {
    padding: 0.8rem 0.5rem !important;
    font-size: 0.8rem !important;
    color: white !important;
    font-weight: 500;
    border-radius: 0 !important;
    background-color: #FF6D00 !important;
}

.form-control,
.custom-select {
    min-height: 48px !important;
    height: auto !important;
    padding: 8px 12px !important;
    background-color: #F4F7FF !important;
    border-color: #E4E4E4 !important;
    color: #7a7a7a !important;
    font-size: 12px !important;
}

.input-group-text {
    color: #7a7a7a !important;
    background-color: #F4F7FF !important;
    border-color: #E4E4E4 !important;
    border-radius: .25rem;
}

.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
}

span.input-group-text i {
    color: #9E9E9E;
    font-size: 17px;
}

.form-check-label {
    color: #D8D8D8;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

.form-check:hover input~.checkmark {
    background-color: #ccc;
}

.form-check input:checked~.checkmark {
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.form-check input:checked~.checkmark:after {
    display: block;
}

.form-check .checkmark:after {
    top: 1px;
    left: 1px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #F7AB47;
    border: 1px solid #E4E4E4;
}

.title-row {
    padding-top: 10px;
    padding-bottom: 20px;
}

.title {
    color: #38457C;
    font-size: 19px !important;
    font-weight: 300;
    letter-spacing: 1px;
    display: inline-block;
}

.full-height {
    height: 100% !important;
}

.title-description {
    font-size: 13px !important;
    font-weight: 100;
    padding-left: 5px;
    vertical-align: bottom
}

.card {
    margin-right: 6px;
    margin-left: 6px;
}

.card-width {
    width: auto;
}

.piped span,
.piped-div {
    border-left: 1px solid #dadada;
    padding: 0 10px;
}

.piped span:first-child,
.piped-div:first-child {
    border-left: none;
    padding-left: 0;
}

.width-fluid {
    width: 100% !important;
}

.location {
    padding: 10px 5px;
    background-color: #EFEFEF;
}

.location span {
    font-size: 26px;
    color: #767676;
    font-weight: 600;
}

.location i {
    color: #C1C1C1;
    font-size: 16px;
}

.promo-extras {
    padding: 12px 5px;
    background-color: #EFEFEF;
}

.promo-extras span {
    font-size: 11px;
    color: #767676;
    font-weight: normal;
    display: inline-block;
    width: 48%;
    line-height: 12px;
    vertical-align: middle;
}

.promo-extras i {
    color: #929292;
    font-size: 14px;
    display: block;
    width: 20px;
    height: 20px;
    float: left;
}

.background-contact-mobile {
    background: url("../img/background-contact.png") #e2e2e2 no-repeat;
    background-size: cover;
    background-position: -420px 0;
}

.card-price-promo p {
    margin: 0;
    color: #22252a;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
}

.card-promo .background-discount {
    position: absolute;
    top: 9px;
    width: 100%;
    left: -5px;
}

.card-promo .background-discount span {
    z-index: 1;
    position: relative;
    left: 6px;
    top: 1px;
    color: white;
}

.card-promo .background-extras {
    position: absolute;
    right: 15px;
    width: 70px;
}

.card-promo .promo-select {
    width: 100%;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 11px;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0 !important;
    padding: 10px;
}

.card-promo .promo-select i{ color: #C1C1C1; }

.btn-primary {
    background-color: #38457C !important;
    border-color: #252953 !important;
    color: white !important;
    border-radius: 0 !important;
    font-weight: 800!important;
    font-size: 13px!important;
    letter-spacing: 0!important;
    padding: 15px !important;
}

.btn-primary:hover {
    background-color: #FF6D00 !important;
    border-color: #FF6D00 !important;
}

.card-subtitle {
    font-size: 10px;
    font-weight: 900;
    margin-top: 0 !important;
}

.card-title {
    font-size: 18px;
    margin-bottom: 0 !important;
    font-weight: 100;
}

.card-label {
    font-size: 10px;
    margin: 0;
}

.card-price {
    font-weight: bold;
    font-size: 31px;
    color: #FF6D00;
    margin-bottom: 0.1rem !important;
}

.card-price-partner img {
    display: inline-block !important;
}

.jumbotron {
    background-color: white !important;
    margin: 0 !important;
    padding: 1rem !important;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 1rem 1rem 1rem !important;
    }
}

.promotionals {
    color: #FFF;
    height: 250px;
    padding-bottom: 30px;
}

.promotionals a {
    color: white;
    text-decoration: none !important;
}

.promotionals a:hover {
    color: #FFF;
    text-decoration: none !important;
}

.overlay {
    padding: 10px;
    background-color: rgba(1, 1, 1, 0.53);
    width: 100%;
    height: 100%;
}

.overlay:hover {
    background-color: rgba(250, 111, 0, 0.34);
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.scene1 {
    background: url("../img/scene1.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.scene2 {
    background-image: url("../img/scene2.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.scene3 {
    background-image: url("../img/scene3.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.scene4 {
    background-image: url("../img/scene4.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.scene5 {
    background-image: url("../img/scene5.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.text-box p {
    font-size: 13px !important;
    font-weight: 100;
    margin-bottom: 1px !important;
    letter-spacing: 2.2px;
}

.text-box h3 {
    font-size: 16px !important;
    font-weight: 500;
    letter-spacing: 2.2px;
}

.socials-network {
    background-color: #F4F4F4;
}

.socials-network ul {
    list-style: none;
    margin: 0 !important;
}

.socials-network li {
    display: inline;
    width: 115px;
    text-align: left;
}

.socials-network li a {
    font-weight: 100;
    font-size: 12px;
    vertical-align: middle;
}
.socials-network li a img, .socials-network li a span {
    display: inline-block;
    margin-right: 5px;
}

.newsletter {
    background-color: #38457C;
}
.newsletter img {
    display: block;
    width: 100%;
}
.newsletter input{text-align: center;}

.jcarousel-wrapper {
    position: relative;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel>img {
    display: block;
    max-width: 100%;
    height: auto !important;
}


/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: gray;
    text-decoration: none;
    font: 69px/29px Arial, sans-serif;
}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    text-decoration: none !important;
}

.jcarousel-control-prev {
    left: 0px;
}

.jcarousel-control-next {
    right: 0px;
}


/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #d1d1d1;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}

.contact {
    background-color: #ebebeb;
}

.contact h3 {
    color: #FF6D00;
    font-size: 18px;
    padding: 0;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 0;
}

.contact .sub {
    padding: 0;
    color: #646464;
    font-weight: 100;
    letter-spacing: 0px;
    font-size: 15px;
}

.contact .label {
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.contact .phone {
    font-size: 13px;
}

.contact ul {
    left: 0;
    z-index: 999;
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact li {
    list-style: none;
    display: inline-block;
    padding-left: 18px;
}

.contact li:first-child {
    padding: 0;
}

.info .address {
    color: #888888;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 10px;
}

.time-open h6{
    text-align: center;
    font-size: 13px;
    color:  #545454;
    margin-top:20px;
}
.time-open p{
    font-size: 13px;
    text-align: center;
}

.info {
    background-color: #F4F4F4;
}

.certifications {
    background-color: white;
}

.certifications ul {
    padding: 0px;
    display: block;
    width: 100%;
    overflow: hidden;
}

.certifications li {
    display: block;
    float: left;
    margin: 10px 0;
}

.slidehead-wrapper {
    position: relative;
}


/** Carousel **/

.slidehead {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slidehead ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slidehead li {
    width: 200px;
    float: left;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.slidehead img {
    display: block;
    width: 100%;
    height: auto !important;
    min-height: 235px;
}


/** Carousel Controls **/

.slidehead-control-prev,
.slidehead-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
}

.slidehead-control-prev {
    left: 95px;
}

.slidehead-control-next {
    right: 95px;
}


/** Carousel Pagination **/

.slidehead-pagination {
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: #00000075;
}

.slidehead-pagination a {
    font-size: 14px;
    width: 170px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
}

.slidehead-pagination a:hover {
    text-decoration: none;
    color: #FFF;
}

.slidehead-pagination a.active {
    color: #fff;
    border-top: 3px solid #3C4B87;
    height: 100%;
}

@media (max-width: 332px) {
    .jcarousel-control-prev {
        left: 0px;
    }
    .jcarousel-control-next {
        right: 0px;
    }
}

@media (max-width: 360px) {
    .location span {
        font-size: 17px;
    }
    .card-subtitle {
        font-size: 10px;
    }
    .card-title {
        font-size: 18px;
    }
    .card-price {
        font-size: 31px;
    }
    .card-price-partner img {
        display: inline-block !important;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .title {
        width: 100%;
        font-size: 21px;
    }
    .socials-network {
        position: relative;
    }
    .socials-network ul {
        left: 0;
        z-index: 999;
        list-style: none;
        padding: 10px 0px 0px 15px;
        text-align: center;
    }
    .socials-network li {
        list-style: none;
        display: block;
        padding-top: 20px;
    }
    .socials-network ul li a {
        display: block;
    }
    .socials-network p {
        text-align: center;
    }
    .newsletter {
        text-align: left;
    }
    .partner img {
        width: 100%;
    }
    .piped-div {
        border-left: none;
        padding: 0;
    }
    .menu-center {
        padding-top: 20px;
        height:  auto !important;
    }
    .navbar-nav{flex-direction: initial !important;}
    .nav-item {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 16px;
        margin-bottom: -1px;
    }
    .tabs{padding: 20px 0;}
    .tabs-content{
        padding: 0;
    }
    .form-bottom {
        margin-bottom: 15px;
    }
    .location span {
        font-size: 14px;
    }
    .location i {font-size: 10px;}
    .jcarousel li {width: 206px !important;}
    .card-promo .background-extras {right: 14px;}
    .call-newsletter {
        margin:  20px 0 10px;
    }
    .newsletter input {text-align: left;}
    .newsletter {
        background: url('../img/mailbanner.png') center left #38457C no-repeat;
        background-position: -30px 0;
    }
    .time-open h6, .time-open p{
        text-align: left;
        margin-left: 20px;
    }
    .certifications li {
        display: inline-block;
        float: none;
    }
}

.img-partner-card {
        height: 30px;
        margin: 15px 0;
    }
@media all and (max-width: 480px) {
    .title {
        width: 100%;
        font-size: 21px;
        text-align: center;
    }
    .socials-network {
        position: relative;
    }
    .socials-network ul {
        left: 0;
        z-index: 999;
        list-style: none;
        text-align: center;
        padding: 10px 0px 0px 15px;
    }
    .socials-network li {
        list-style: none;
        display: block;
        padding-top: 20px;
    }
    .socials-network ul li a {
        display: block;
    }
    .socials-network p {
        text-align: center;
    }
    .newsletter {
        padding-top: 30px;
        padding-bottom: 40px;
        text-align: center;
    }
    .newsletter .orange-button {
        margin-top: 10px;
    }
    .contact h3,
    .contact .sub,
    .contact .label,
    .contact .phone {
        text-align: center;
    }
    .contact .phone {
        padding-bottom: 30px;
    }
    .contact .sub {
        padding-bottom: 25px;
    }
    .partner img {
        width: 100%;
    }
    .piped-div {
        border-left: none;
        padding: 0;
    }
    .menu-center {
        padding-top: 20px;
    }
    .nav-item {
        padding-right: 0px;
        padding-left: 0px;
    }
    .nav-link {
        display: block;
        padding: 20px 0.5rem !important;
    }
    .menu-center {
        height: 85px;
    }
    .form-bottom {
        margin-bottom: 15px;
    }
    .slidehead-control-prev {
        left: 15px;
    }
    .slidehead-control-next {
        right: 15px;
    }
    .slidehead-control-prev img,
    .slidehead-control-next img {
        width: 20px;
    }
    .no-padding-desktop {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .jcarousel-control-prev img,
    .jcarousel-control-next img {
        width: 55%;
    }
    .background-contact-mobile {
        background: url("../img/background-contact-mobile.png");
        background-size: cover;
    }
    .width-fluid {
        padding-bottom: 15px;
    }
}

.copy {font-size: 10px;}

@media (min-width: 768px) {
    .align-title{padding-left: 15px;}    
    .account{width: 287px;}
    .label-menu{margin-top: 20px;}
}

@media (min-width: 1024px){
    .menu-center .nav-item{margin-bottom: -8px;}
    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
    }
    .menu-center .active {padding-top: 8px;}
    .account .nav-item {padding-top: 5px;
    }
    .label-menu,
    .user-menu {margin-top: 10px !important;}
    .location span{
        font-size: 22px;
    }
    .card-promo .background-extras {right: 15px;}
    .newsletter {
        background: url('../img/mailbanner.png') center left #38457C no-repeat;
        background-position: -30px 0;
    }
    .newsletter input{text-align: left;}
    .call-newsletter {
        margin:  35px 0 27px;
    }
    .partner img {
        display: block;
        width: 100%;
    }
    .time-open h6, .time-open p{
        text-align: left;
        margin-left: 20px;
    }
    .certifications li {
        display: inline-block;
        float: none;
    }
}
.locale{
    padding: 0 !important;
    width: 145px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
}
.locale span{
    color: #3c4a87;
    font-weight: 900;
}
.user-menu{
    width: 145px;
    margin: 0 auto;
    margin-top: 20px;
}
@media (min-width: 1440px) {
    .account .nav-item {width: 200px;}
    .img-partner-card {
        height: 25px;
        margin:  0 0 0 20px;
    }
    .background-contact-mobile {
        background-position: -220px 0;
    }
    .box-logo-menu{width: 167px;}
}

.nav-clean .nav-item {
    padding: 0 4px;
    text-align: center;
}
.nav-clean .nav-item i,
.nav-clean .nav-item p{
    color: #A5A5A5;
}
.nav-clean .active p,
.nav-clean .active i{
    color:  #4D4D4D;    
}
.bg-interna{
    background: #F2F2F2;
    border-top: 2px solid #E2E2E2;
    border-bottom: 1px solid #fff;
}
.block-options-search-collapse{
    border-bottom: 1px solid #DDDDDD;
}
.link-options-search {
    display: block;
    padding: 20px 0;
    text-align: center;
    color: #38457C;666666666
}
.link-options-search:hover,
.link-options-search:focus,
.link-options-search:active{
    text-decoration: none;
}
.form-search{
    background: #38457C;
    padding: 10px 10px 15px;
    overflow: hidden;
}
.form-search label{
    color:  #fff;
    font-size: 11px;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
.form-search .input-group-text i,
.form-search .form-control{
    color: #535353;
}
.form-search .custom-checkbox{margin: 20px 0 15px;}
.form-search .custom-checkbox label{padding-top: 4px;}
.form-search .btn-block{
    width: 90%;
    margin: 0 auto;
}
.header-search{
    background:  #4B5C9F;
    color:  #fff;
    padding: 10px;
}
.header-search {
    padding: 15px 15px 8px;
    font-size: 15px;
    overflow: hidden;
}
.header-search i{ 
    display: block;
    font-size: 30px; 
    float: left;
}
.header-search span {
    display: block;
    float: left;
    margin-left: 10px;
}
.link-options-search-box{
    display: block;
    margin: 20px;
    padding: 10px;
    color:  #fff;
}
.link-options-search-box:hover,
.link-options-search-box:active,
.link-options-search-box:focus{
    color:  #fff;
    background: #465596;
    text-decoration: none;
}
.header-filter{
    padding: 20px 10px;
    font-size: 13px;
    font-weight: bold;
}
.header-filter i {
    font-size: 20px;
    margin-right: 5px;
}
.cada-filtro{
    border-top: 1px solid #DDDDDD;
    padding: 30px 10px 12px;
}
.cada-filtro p{
    font-size: 13px;
    color:  #616161;
    margin-bottom: 5px;
}
.lista-cias-areas li{
    display: block;
    width: 33.33%;
    float: left;
    border: 1px solid #DDDDDD;
    background: #fff;
    text-align: center;
    padding: 10px;
}
.descricao-slide p{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 12px;
}
.ui-widget.ui-widget-content{
    border:  1px solid #ddd;
    border-radius: 0;
}
.ui-widget-header{
    background: #3C4B87 !important;
    border: 1px solid #3C4B87 !important;
    border-radius: 0 !important;
}
.ui-slider .ui-slider-handle{
    width: 2px !important;
    border: 0 !important;
    background:  #3C4B87 !important;
    margin-left: -1px !important;
}
.header-resultado{overflow: hidden;}
.header-resultado h1{
    margin: 10px 0;
    margin-bottom: 10px;
    color:  #3D4C88;
    font-size: 26px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}
.header-resultado span{font-weight: 400;}
.cada-resultado-passagem{
    background:  #FFFFFF;
    padding: 10px;
    margin-bottom: 20px;
}
.box-trajeto{
    background: #EFEFEF;
    margin: 0 15px;
    width: 100%;
}
.box-trajeto:before{    
    content: " ";
    width: 35px;
    height: 68px;
    background: #fff;
    display: block;
    margin-bottom: -67px;
}
.box-info-trajeto{
    padding: 10px 0;
    border-radius: 99px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    line-height: 17px;
    width: 69px;
}
.box-info-trajeto i{
    font-size: 30px;
    display: block;
}
.box-info-trajeto i.icon-ida{transform: rotate(1deg);}
.box-info-trajeto i.icon-volta{transform: rotate(-179deg);}
.box-detalhes-trajeto{
    padding: 10px;
    line-height: 15px;
}
.box-detalhes-trajeto small{
    display: block;
    font-size: 12px;
    color:  #5E5E5E;
    font-weight: bold;
}
.box-detalhes-trajeto span{
    font-weight: bold;
    font-size: 14px;
    color: #38457C;
    line-height: 13px;
}
.horario-voo {
    color: #939393;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
.horario-voo span{
    color: #474747;
    font-size: 16px;
}
.tempo-voo{
    text-align: center;
    font-size: 12px;
    color: #707070;
}
.tempo-voo span{
    color: #38457C;
}
.tempo-voo img{
    display: block;
    width: 55px;
    margin: 0 auto;
}
.box-preco-resultado{
    position: relative;
    text-align: center;
    margin-top: 30px;
}
.background-discount2{
    position: absolute;
    right: 146px;
}
.background-discount2 span{
    position: absolute;
    top: 5px;
    right: -55px;
    z-index: 2;
    color: #fff;
    font-weight: bold;
}
.price-infos{
    margin-top: 50px;
}
.price-infos h2{
    font-size: 63px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    letter-spacing: -5px;
    margin-bottom: 0;
}
.price-infos h2 small{
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0;
}
.price-infos p{
    font-size: 14px;
    color:  #ACACAC;
    font-weight: 300;
    margin-bottom: 5px;
}
.price-infos b{
    display: block;
    margin-bottom: 20px;
    color: #FF6D00;
    font-size: 16px;
}
.price-details{
    max-width: 250px;
    margin: 50px auto 0;
    font-size: 13px;
    color:  #ACACAC;
    font-weight: 300;
}
.price-details b{
    font-size: 19px;
    font-weight: 900;
    color: #000;
}
.price-details hr{
    border:1px solid #EFEFEF;
    display: block;
    width: 100%;
    margin: 5px 0;
}
.info-bagagem {margin-top: 20px;}
.info-bagagem p{
    color:#6A6A6A;
    font-size: 19px;
    font-weight: 400;
}
.incluir-bagagem label{
    font-size: 12px;
    color: #6A6A6A;
}
.box-pagination {margin-top:20px;}
.box-pagination .pagination{
    display: block;
    text-align: center;
}
.box-pagination .page-item{display: inline-block;}
.box-pagination .page-link{
    border:  0;
    background: none;
    color: #939393;
    font-weight: 900;
    font-size: 14px;
}
.box-pagination .page-item.active .page-link{
    background: #38457C;
    border-radius: 99px;
    color: #fff;
}
.resumo-busca .nav-item{
    width: 50%;
    float: left;
    padding: 0;
    background: #E8E8E8;
}
.resumo-busca .nav-link{
    color: #7F7F7F;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0 !important;
    padding: 10px !important;
    letter-spacing: -1px;
}
.resumo-busca .nav-pills .nav-link.active, 
.resumo-busca.nav-pills .show>.nav-link{
    background: #fff;
    color: #38457C;

}
.resumo-busca .tab-content{
    background: #fff;
    padding: 10px;
}

.title-resumo{
    margin: 30px 0 10px;
    font-size: 16px;
    font-weight: 900;
    color:  #38457C;
}
.title-resumo span{
    display: block;
    font-size: 12px;
    color:  #707070;
    font-weight: 300;
}
.tarifas-detalhes{
    margin-top: 38px;
}
.tarifas-detalhes p{
    font-size: 12px;
    color:  #707070;
    font-weight: 300;
    margin: 18px 0; 
}
.cia-info-tarifa {margin: 40px 0 0;}
.cia-info-tarifa img{
    display: block;
    width: 60px;
    margin: 0 auto 15px;
}
.cia-info-tarifa span{
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
}

@media(max-width: 768px){
    .box-nav-mobile{width: 100%;}
}
@media(min-width:768px){
    .box-nav-mobile{
        padding: 20px 0;
    }
    .nav-clean {
        display: block !important; 
        text-align: center;
    }
    .nav-clean .nav-item {display: inline-block;}
    .box-detalhes-trajeto{margin-top: 6px;}
    .box-preco-resultado{margin-top: 0;}
    .resumo-busca .nav-link {
        font-size: 14px;
        padding: 20px !important;
    }
    .title-resumo{
        text-align: left;
        padding-left: 15px;
    }
    .tarifa-detalhe-fixo{margin-left: 19px;}
    .box-search,
    .box-filter{
        max-width: 280px;
        margin: 30px auto;
    }
}
@media(min-width: 1024px){
    .navbar-interna{display: block !important;}
    .nav-clean{
        margin: 0 !important;
        width: 44vw;
    }
    .account{margin-left:30px !important;}
    .header-resultado{margin-top: 30px;}
    .price-infos{margin-top: 70px;}
    .tarifa-detalhe-fixo{margin-top: 82px;}
}
@media(min-width: 1220px){
    .nav-clean{width: 60vw;}
    .account{margin-left:80px !important;}
}

.info-voo-modal{
    max-width: 720px;
    margin: auto;
    border-radius: 10px;
}
.info-voo-modal p{
    font-size: 12px;
    margin: 0;
    color: #3B3B3B;
}
.info-voo-primary{
    background: #EFEFEF;
    padding: 40px;
}
.info-voo-primary:before{
    content: " ";
    display: block;
    width: 40px;
    background: #D0D0D0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.ico-voo-info{
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 999px;
    position: absolute;
}
.ico-voo-info i{
    color:  #fff;
    font-size: 30px;
    padding-top: 15px;
}
.box-info-primary{padding-left: 80px;}
.box-info-primary h1 {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 900;
}
.box-info-secundary{padding:50px 0 0 80px;}
.info-voo-secundary{
    background: #fff;
    padding: 40px;
}
.box-info-secundary-origem,
.box-info-tempo-voo,
.box-info-secundary-destino{
    text-align: center;
    padding: 30px 0;
    width: 100%;
}
.title-info-modal{
    margin: 0;
    font-size: 20px;
    font-weight: 900;
}
.title-info-modal span {color:#3B3B3B;}
.title-info-modal small{font-size: 15px;color:#3B3B3B;}


.info-complementar-primary,
.info-complementar-secundary{
    text-align: center;
    width: 100%;
    margin-top: 30px;
}
.modal-info{
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}
.modal-info .modal-dialog{
    overflow: hidden;
    border-radius: 10px;
}
.modal-info .close{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
}

.label-menu{
    text-transform: uppercase;
    font-size: 7px;
    text-align: center;
    display: block;
    letter-spacing: 0px;
    color: #989898;
}

@media(min-width: 768px){
    .box-info-secundary-origem,
    .box-info-secundary-destino{
        width: 140px;
        float: left;
    }
    .box-info-tempo-voo{
        width: 180px;
        float: left;
    }
    .box-info-secundary-origem,
    .info-complementar-primary{text-align: right;}
    .box-info-secundary-destino,
    .info-complementar-secundary{text-align: left;}
    .box-info-secundary-origem, .box-info-tempo-voo, .box-info-secundary-destino{padding: 10px 0;}
    .info-complementar-primary,
    .info-complementar-secundary{
        margin-top: 60px;
    }
    .modal-info,
    .modal-info .modal-dialog{width: 710px !important;max-width: 710px !important;}
}
@media (max-width: 332px){
    .jcarousel-control-next {
        right: -10px;
    }
    .jcarousel-control-prev{
        left: -10px;
    }
}

/*#collapseOpcoesBusca .custom-select{
    border-color: #2D3865 !important;
    background:  #2D3865 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center !important;
    color:  #fff !important;
}*/

.searchbar-icon-hotel i{
    font-size: 13px;
    padding-top: 4px;
}
.box-search-fluid{width: 100%;}
.box-search-fluid .btn-block{margin-top: 11px;}
.lista-filtro{
    list-style: none;
    padding: 0 0 0 15px;
}
.lista-filtro li{margin-bottom: 5px;}
.lista-filtro input{
    width: 15px;
    height: 15px;
    background: #fff;
}
.lista-filtro .fa-star{
    font-size: 18px;
    color: #3C4B87;
}
.lista-filtro span{
    font-size: 13px;
    color: #6A6A6A;
}
.ordenacao label{
    margin-bottom: 0;
    font-weight: 900;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}
.cada-resultado-hotel{
    background: #fff;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
.cada-resultado-hotel .carousel-control-next-icon{
    background: url('../img/icon-next-carousel.png');
    height: 33px;
}
.cada-resultado-hotel .carousel-control-prev-icon{
    background: url('../img/icon-prev-carousel.png');
    height: 33px;
}
.tag-recomendamos{
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 25%;
    width: 145px;
    border-radius: 99px;
    background: #FF6D00;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    padding: 5px 15px;
}
.hotel-city{
    font-size: 12px;
    font-family: 'Lato', sans-serif;   
    color: #5E5E5E;
    font-weight: 900;
    margin-top: 10px;
}
.hotel-name{
    font-size: 25px;
    font-weight: 300;
    color: #252525;
    margin: 5px 0 0;
}
.hotel-categoria{
    font-size: 12px;
    color:  #3C4B87;
}
.hotel-description{
    padding:10px 0px;
    margin-top: 10px;
}
.hotel-description li {
    color: #5E5E5E;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 300;
}
.hotel-description ul{
    list-style: none;
    padding: 0;
}
.selo-tripadvisor img{
    display: block;
    width: 150px;
    margin: 0 auto 20px;
}
.background-melhor-preco{
    background: url('../img/background-melhor-preco.png') center center no-repeat;
    color: #fff;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    padding: 7px 0 18px;
    position: absolute;
    width: 158px;
    right: -10px;
    z-index: 99;
}
.preco-diaria{
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
}
.preco-diaria p{
    font-size: 13px;
    color: #969696;
    margin-bottom: 10px;
}
.preco-diaria b{
    display: block;
    float: left;
    width: 49%;
    text-align: right;
    font-size: 32px;
}
.preco-diaria b small{font-size: 12px;}
.preco-diaria>small{
    display: block;
    float: left;
    width: 49%;
    text-align: left;
    font-size: 12px;
    color: #ACACAC;
    line-height: 14px;
    padding: 10px 0 0 10px;
}
@media(min-width: 767px){
    .ordenacao{margin-top: 10px;}
    .hotel-city,
    .hotel-name,
    .hotel-categoria,
    .hotel-description {padding-left: 10px;}
    .hotel-description {
        margin-top: 0;
        padding-bottom: 0;
    }
    .selo-tripadvisor img {
        width: 80px;
        margin-top: 3px;
        margin-bottom: 0;
    }
    .tag-recomendamos{left: 21%;}
    .preco-diaria{
        margin-top: 40px;
        margin-bottom: 0;
    }
    .preco-diaria p{margin-bottom: 0;}
    .hotel-description ul{margin: 0;}
}
.conteudo-resultado {overflow: hidden;}
.cada-resultado-pacotes {margin-bottom: 20px;}

.box-pagamento{
    margin-top: 20px;
    margin-bottom: 40px;
}

.header-pagamento{
    background: #38457C;
    padding: 10px;
}
.header-pagamento h1{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
}
.body-pagamento{
    padding: 20px;
    background: #fff;
}
.body-pagamento h2{
    font-size: 13px;
    color: #38457C;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 20px 0;
}
.body-pagamento h2 span{
    display: inline-block;
    background: #38457C;
    color:  #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius:  0 99px 99px 0;
    margin-right: 5px;
}
.body-pagamento label{
    font-size: 12px;
    color: #696969;
    font-weight: 500;
}
.body-pagamento input,
.body-pagamento select{
    border-radius:  0px !important;
    background: #fff !important;
    border-color: #E8E8E8 !important;
    min-height: 35px !important;
}

.body-pagamento hr{
    display: block;
    width: 100%;
    margin: 30px 0;
    height: 1px;
    border-top: 1px solid #E8E8E8;
}

.btn-social{
    color:#fff;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    margin: 10px 0;
    text-align: center;
    font-size: 12px !important;
}
.btn-social:hover{
    color:  #fff;
    text-transform: none;
    opacity: 0.8;
    transition: all linear 0.25s;
}
.btn-social span{
    display: inline-block;
    margin-right: 10px;
}
.facebook{background: #007AB9;}
.google{background:#DF4930;}

.box-pagamento-passageiro{
    border: 1px solid #E8E8E8;
    padding: 15px 0;
    margin: 0 15px 15px;
    width: 100%;
}
.form-person{
    background: #F2F2F2;
    text-align: center;
    padding: 10px 10px 0;
    position: relative
}
.form-person span{
    color: #38457C;
    font-size: 25px;
}
.form-person .custom-select{
    background: #f2f2f2 !important;
    border: 0 !important;
    color: #38457b !important;
    margin-bottom: 0 !important;
    text-align: center !important;
    font-weight: 500;
}
.form-person:after {
    content: " ";
    display: block;
    border: 7px solid #f2f2f2;
    border-top: 7px solid #38457b;
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: 6px;
    right: 15px;
}

.form-select{position: relative;}
.form-select:after {
    content: " ";
    display: block;
    border: 7px solid #fff;
    border-top: 7px solid #777;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 45px;
    right: 15px;
}

.link-pagamento{
    display: block;
    margin: 10px;
    color: #42A2C4;
    font-size: 12px;
}

.form-rooms .input-group{
    box-shadow: 0 0 0 !important;
    border-radius: 0 !important;
    margin-bottom: 10px;
}
.form-rooms .input-group-text {
    background: #fff !important;
    font-weight: 300 !important;
    font-size: 15px !important;
}

.form-person-single{
    background: #F2F2F2;
    text-align: center;
    padding: 20px 10px;
    position: relative
}
.form-person-single span{
    color: #38457C;
    font-size: 25px;
}
.info-link-pag {
    display: block;
    width: 27px;
    height: 27px;
    border: 2px solid #007aff;
    border-radius: 99px;
    text-align: center;
    margin: 0 auto;
}
.box-cartao{padding: 15px 0;}
.box-cod{
    background: #F9F5F5;
    border: 1px solid #F9F5F5;
    padding: 15px;
    overflow: hidden;
}
.box-cod img{
    display: block;
    max-width: 160px;
    margin: 0 auto 10px;
}

.box-valor-pago-card{
    border: 1px solid #E8E8E8;
    padding: 25px;
    margin-bottom: 10px;
}
.form-parcelas ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.form-parcelas ul li{
    display: block;
    width: 100%;
    padding: 15px 5px;
    border-bottom: 1px solid #E8E8E8;
}
.form-parcelas ul li:hover{
    transition:  all linear 0.25s;
    background: #F9F5F5;
}
.form-parcelas ul li .input-radio{
    display: inline-block;
    width: 15px;
    height: 15px;
}
.form-parcelas ul li span{
    display: inline-block;
    color:  #696969;
    font-size: 12px;
    margin-top: -10px;
}
.form-parcelas .form-check label{
    display: block;
    width: 100%;
}
.form-parcelas .form-check input{
    opacity: 1 !important;
    width: 15px;
}
.form-parcelas .form-check-input{margin-top: -1px;}

.img-cards{
    float: right;
    margin-top: -1px;
}
.img-cards img{
    display: inline-block;
    width: 20px;
}

.correct-input input,
.correct-input select{border-color: #28a745 !important;}
.correct-input .form-feedback{background: #28a745;}
.error-input input,
.error-input select{border-color: #FF6262 !important;}
.error-input .form-feedback{background: #FF6262;}
.form-feedback{
    font-size: 11px;
    color: #fff;
    padding: 5px;
}
.box-form-submit input{
    opacity: 1;
    width: 15px;
    margin: 6px 0px 0 -20px;
}

.box-dados-contato,
.box-form-contato,
.box-form-submit{
    overflow: hidden;
}

.lista-valores{
    padding: 0;
    margin: 0;
    list-style: none !important;
}
.lista-valores li{
    display: block;
    overflow: hidden;
}
.lista-valores li h3{
    margin: 5px 0;
    font-size: 14px;
    color: #6D6D6D;
}
.lista-valores li span{
    display: block;
    margin: 5px 0;
    font-size: 12px;
    color: #909090;
}
.lista-valores li h4{
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 0;
    border-top: 1px solid #EFEFEF;
    font-size: 16px;
    color: #393939;
    overflow: hidden;
}

.box-pagamento-info {margin-top: 20px;}

.header-pagamento-info {
    padding: 10px;
    border-bottom: 1px solid #efefef;
    background: #fff;
}
.header-pagamento-info  h1{
    color: #38457C;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
}
.body-pagamento-info {
    padding: 20px;
    background: #fff;
}
.body-pagamento-info p{
    color: #898989;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Lato', sans-serif
}
.data-passagem{
    overflow: hidden;
}
.data-passagem span{
    display: block;
    width: 45px;
    height: 45px;
    padding-top: 7px;
    border-radius: 99px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 300;
    float: left;
}
.data-passagem span i {
    display: block;
    font-size: 20px;
}
.data-passagem b {
    display: block;
    float: left;
    font-size: 12px;
    color: #5E5E5E;
    margin: 12px;
}

.info-trajeto{
    overflow: hidden;
    margin: 10px 0;
    padding: 5px 10px;
    background: #EFEFEF;
}
.info-trajeto h2{
    display: block;
    float: left;
    width: 175px;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}
.info-trajeto h2 i{
    font-size: 11px;
    color: #787878;
    display: inline-block;
    margin: 0 5px;
}

.info-trajeto img{
    display: block;
    width: 50px;
    float: right;
    margin-top: 13px;
}

.info-time{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
}
.voo-horario{
    float: left;
    margin-top: 10px;
    font-size: 14px;
    color: #939393;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.voo-horario b{color:#333;}
.tempo-voo{
    float: left;
    margin: 0 27px;
}

.info-bagagem{
    overflow: hidden;
}

.info-bagagem span{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 99px;
    background: #EFEFEF;
    text-align: center;
    color: #38457C;
    padding-top: 7px;
    margin-left: 15px;
}
.info-bagagem b{
    display: block;
    float: left;
    font-size: 13px;
    line-height: 15px;
    font-family: 'Lato', sans-serif;
    color: #6A6A6A;
    font-weight: bold;
    margin-left: 15px;
    width: 160px;
}

.rotate-180{transform:rotate(180deg);}

.info-hotel img{
    display: block;
    width: 242px;
    margin: 0 auto;
}
.info-hotel h3{
    margin: 10px 0 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #252525;
    font-weight: 300;
    font-size: 22px;
}
.info-hotel .lista-filtro{
    padding: 0;
    margin: 0;
}
.info-hotel .lista-filtro .fa-star{font-size: 13px;}
.info-hotel small{
    display: block;
    color: #5E5E5E;
    line-height: 15px;
    font-family: 'Lato', sans-serif;
}
.lista-detalhes-hotel{
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
}
.lista-detalhes-hotel li{
    border-top: 1px solid #efefef;
    padding: 15px 10px 0;
}
.lista-detalhes-hotel li span{
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
    color: #5E5E5E;
    font-family: 'Lato', sans-serif;
}
.lista-detalhes-hotel li span b{
    display: block;
    text-transform: uppercase;
    color: #000000;
}

.m-t-60{margin-top: 60px !important;}

@media(min-width: 768px){
    .info-trajeto h2{width: 49%;}
    .info-trajeto img {margin-top: 5px;}
}
.box-input-text{
    width: 100%;
}
.box-input-social {
    width: 100%;
}
.box-input-ou{
    width: 100%;
    text-align: center;
    color: #858585;
    font-size: 12px;
}

.frase-cia{
    text-align: center;
    font-size: 10px;
    color: #fff;
    padding: 5px;
    width: 100%;
}
.logo-cia{
    background: #fff;
    width: 100%;
}
.logo-cia img{
    display: block;
    width: 100px;
    margin: 0 auto;
}

.cada-vantagem-cia{
    background: #fff;
    border-top: 1px solid #efefef;
    padding: 20px 20px;
}
.cada-vantagem-cia img {
    display: block;
    width: 30px;
    margin: 0 auto;
}
.cada-vantagem-cia span{
    display: block;
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
    color: #666;
    text-align: center;
}
.cada-vantagem-cia span b{
    display: block;
    color: #000;
}

@media(min-width: 1024px){
    .box-input-text{
        width: 240px;
        float: left;
    }
    .box-input-ou{
        width: 25px;
        float: left;
        margin-top: 39px;
    }
    .box-input-social{
        width: 160px;
        float: left;
        margin-top: 23px;
    }
    .box-pagamento-passageiro{padding: 5px 0;}    
    .box-pagamento-passageiro .col{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .box-pagamento-passageiro .form-group{margin-bottom: 0 !important;}
    .info-link-pag{margin-top: 35px;}
    .box-cod{
        width: 360px;
        float: left;
    }
    .box-cod img{
        float: left;
        margin: 0;
        max-width: 148px;
    }
    .box-valor-pago-card{
        float: left;
        width: 250px;
    }
    .box-cod .form-group{
        float: left;
        margin-left: 5px;
    }
    .box-form-submit  .form-check{margin-top: 10px;}
    .info-trajeto h2{width: 76%;}
    .tempo-voo{margin: 0 22%;}
    .info-bagagem span{margin-left: 25%;}
    .info-hotel img {width: 100%;}
    .logo-cia{
        width: 15%;
        float: left;
    }
    .cada-vantagem-cia{
        border-top: 0;
        border-left:  1px solid #efefef;
        float: left;
        width: 28.3%;
        padding: 24px 0px 22px 20px;
    }
    .cada-vantagem-cia img{
        float: left;
    }
    .cada-vantagem-cia span{
        float: left;
        text-align: left;
        margin-left: 20px;
        width: 80%;
    }
    .box-form-contato .link-pagamento{margin-top: 35px;}
}
.overflow-h{overflow: hidden !important;}
.m-t-5{margin-top: 5px !important;}


.box-view{
    margin: 30px 0;
    background: #fff;
    padding: 20px;
}
.header-view .lista-filtro{
    padding: 0;
    margin-bottom: 0;
}
.header-view h1{
    color: #3D4C88;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin: 0;
}
.header-view p{
    font-size: 14px;
    color: #5E5E5E;
    font-family: 'Lato', sans-serif;
}
.header-view img{
    width: 100px;
    margin: 0 auto;
}

.connected-carousels .stage{
    width: 100% !important;
    margin: 0 auto !important;
}
.connected-carousels .carousel-stage{
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 !important;
}
.connected-carousels .prev-stage span, 
.connected-carousels .next-stage span{
    width: 60px !important;
    height: 400px !important;
    top: 0 !important;
    border-radius: 0 !important;
    border:  0 !important;
    box-shadow:  0 0 0 !important;
    padding-top: 180px;
}

.connected-carousels .prev-stage span{
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    left: 0 !important;
}
.connected-carousels .next-stage span{
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
    right:  0 !important;
}

@media(min-width: 1200px){.connected-carousels .navigation{width: 530px !important;}}
.connected-carousels .carousel-navigation{
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 !important;
    width: 100% !important;
    height: 90px !important;
}
.connected-carousels .prev-navigation, .connected-carousels .next-navigation{
    background:  none !important;
    color:  #000 !important;
    box-shadow:  0 0 0 !important;
    text-shadow: 0 0 0 !important;
    font-size: 28px !important;
    top: 26px !important;
}
.connected-carousels .prev-navigation{
    left: -22px !important;
}

.box-form-view{
    background: #F0F0F0;
    padding: 15px 0;
    overflow: hidden;
}
.box-form-view label{
    font-weight: 900;
    color: #2B2B2B;
    font-size: 12px;
    margin-bottom: 0;
}
.box-form-view input,
.box-form-view select{
    background: #fff !important;
    margin-bottom: 15px;
}
.box-form-view .input-group-text{background: #fff !important;}
.box-form-view .input-group{
    box-shadow:0 0 0 !important;
    margin-bottom: 15px;
}
.box-mapa-view{
    margin-top: 20px;
}

.info-hotel-view{margin: 30px 0;}
.selo-hotel p{
    font-size: 12px;
    color: #5E5E5E;
    font-family: "Lato", sans-serif;
    margin-bottom: 10px;
}
.selo-hotel img{
    display: block;
    width: 100%;
    max-width: 120px;
}
@media(min-width:768px){
    .hotel-description ul{text-align: center;}
}
.hotel-description li{
    display: inline-block;
    margin: 5px;
}
.hotel-description-txt p{
    color: #6D6B6B;
    font-size: 12px;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
}
.hotel-description-txt a{
    font-size: 12px;
    color: #38457C;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}
@media(min-width: 768px){
    .hotel-description{
        border-left: 1px solid #DFDFDF;
        border-right: 1px solid #DFDFDF;
    }
}
.titulo-view{padding: 0 15px;}
.titulo-view h2{
    color: #3D4C88;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Lato',sans-serif;
}
.titulo-view p{
    color: #5E5E5E;
    font-size: 13px;
    font-family: 'Lato',sans-serif;
}

.hoteis-disponiveis{width: 100%;}
.cada-hotel-disponivel{
    overflow: hidden;
    border: 1px solid #DFDFDF;
    padding: 15px 0;
    max-width: 990px;
    margin: 0 auto 20px;
}
.cada-hotel-disponivel h3{
    font-size: 22px;
    color: #252525;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 10px;
}
.cada-hotel-disponivel p{
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    color: #949494;
    margin-bottom: 5px;
}
.cada-hotel-disponivel a{
    font-size: 12px;
    color: #38457C;
    font-family: 'Lato', sans-serif;
}
.cada-hotel-disponivel .hotel-description{
    padding: 0;
}
.cada-hotel-disponivel .hotel-description ul{text-align: left;}
.cada-hotel-disponivel .hotel-description{
    margin-top: 30px;
    border: 0 !important;
}
.cada-hotel-disponivel .preco-diaria{
    margin-top: 60px;
    margin-bottom: 20px;
}
@media(min-width: 1400px){
    .cada-hotel-disponivel{max-width: 1130px;}
}

.comodidades{margin-top: 30px;}
.comodidades-txt{
    width: 100%;
    margin-top: 20px;
}
.comodidades-txt ul{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}
.comodidades-txt ul li{
    color: #5E5E5E;
    font-size: 12px;
}
.box-list-info-pacote h2{
    margin: 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #6D6B6B;
}
.box-list-info-pacote ul{
    list-style: none;
    padding: 0 10px;
    border:1px solid #DEDEDE;
    margin-top: 10px;
}
.box-list-info-pacote ul li{
    margin: 10px 0;
    color: #000;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
.box-list-info-pacote ul li i{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 99px;
    background: #3B427E;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-top: 7px;
    margin-right: 5px;
}

.box-preco-pacote{
    position: relative;
    background:#F0F0F0;
}
.preco-pacote-view{
    padding: 45px 15px 15px;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    color: #000000;
}
.preco-pacote-view b{
    font-size: 50px;
    font-weight: 900;
}
.preco-pacote-view span{
    display: block;
    color: #646464;
}
.info-extra-pacote{
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    color: #8F8F8F;
    margin: 20px 0;
}
.hoteis-disponiveis .price-infos h2{
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0;
}
.cada-hotel-disponivel .cada-resultado-passagem{
    margin-bottom: 0;
    padding: 10px 10px 0;
}
.tabs-view-pacote{padding: 13px;}
.tabs-view-pacote .nav-item{
    padding: 0;
}
.tabs-view-pacote .nav-tabs .nav-link{
    text-transform: uppercase;
    color: #38457C !important;
    border: 1px solid #DFDFDF;
    padding: 15px 30px !important;
    border-radius: 0 !important;
    font-weight: 800;
    font-size: 12px;
}
.tabs-view-pacote .nav-tabs .nav-link .icomoon{font-size: 16px;}
.tabs-view-pacote .nav-tabs .nav-link.active{
    background: #38457C !important;
    color: #fff !important;
    border-color: #38457C !important;;
}
.tabs-view-pacote .tab-content{
    border: 1px solid #DFDFDF;
    padding: 15px 15px 0;
    width: 100%;
}
.icon-tab{display: block;}
.text-tab{display: none;}
@media(min-width: 1024px){
    .icon-tab{display: none;}
    .text-tab{display: block;}
}
@media(min-width: 2560px){
    .tabs-view-pacote{
        max-width: 1152px;
        margin: 0 auto !important;
    }
}
.connected-carousels{max-width: 600px;}

.modal-sign .close{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
}
.box-sign{
    max-width: 400px;
    min-width: 300px;
    padding: 30px;
    margin: 30px auto;
}
.box-sign h1{
    margin: 0;
    margin-bottom: 30px;
    color: #7d7d7d;
    font-size: 26px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.box-sign .form-control{
    background: #fff !important;
}
.box-sign .input-group-text{
    background: #fff !important;
}
.box-sign .input-group{
    margin-bottom: 10px;
    box-shadow: 0 0 0 !important;
}

.social-login{
    text-align: center;
    margin: 20px 0 30px;
}
.btn-facebook{
    background: #007AB9;
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 13px !important;
    display: block;
    margin: 0 auto;
}
.btn-facebook i{
    font-size: 18px;
    padding-right: 10px;
    margin-top: 3px;
    border-right: 1px solid #1e96d8;
    margin-right: 6px;
}
.btn-facebook:hover{
    opacity: 0.7;
    color: #fff;
    transition: all linear 0.25s;
}
.separate-login{
    text-align: center;
    font-size: 13px;
    color: #9c9c9c;
    margin-bottom: 30px;
    overflow: hidden;
}
.separate-login:before{
    content: " ";
    width: 40%;
    display: block;
    float: left;
    border-top: 1px solid #dedede;
    height: 1px;
    margin-top: 10px;
}
.separate-login:after{
    content: " ";
    display: block;
    float: right;
    width: 40%;
    border-top: 1px solid #dedede;
    height: 1px;
    margin-top: 10px;
}
.btn-outline{
   border: 1px solid #38457C !important;
    border-radius: 0px !important;
    display: block !important; 
    color: #38457C;
    letter-spacing: 0!important;
    font-weight: 800!important;
    font-size: 13px!important;
    text-transform: uppercase;
        padding: 15px !important;
}
.btn-outline:hover{
    transition:  all linear 0.25s;
    color: #fff;
    background: #38457C !important; 
}
.link-form{
    display: block;
    margin: 30px 0 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    color: #848484;
}
.link-form:hover{
    transition: all linear 0.25s;
    color: #38457C;
    text-decoration: none;
}

.box-loading{
    background: #fff;
    overflow: hidden;
    margin-top: 30px;
    padding: 40px;
}
.box-trajeto-loading{
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Lato' ,sans-serif;
}
.box-trajeto-loading h2{
    font-weight: 900;
    font-size: 18px;
    color: #38457C;
}
.box-trajeto-loading p{
    font-size: 12px;
    color: #9c9c9c;
}
.txt-volta,
.txt-ida{text-align: center;}

.loading-plane{
    text-align: center;
}
.loading-plane:before{
    content: " ";
    width: 30%;
    display: block;
    float: left;
    border-top: 1px solid #dedede;
    height: 1px;
    margin-top: 10px;
}
.loading-plane:after{
    content: " ";
    display: block;
    float: right;
    width: 30%;
    border-top: 1px solid #dedede;
    height: 1px;
    margin-top: 10px;
}
.loading-plane i{
    color: #999;
    font-size: 16px;
  -webkit-animation: fadeIn 1s infinite; /* Safari 4+ */
  -moz-animation:    fadeIn 1s infinite; /* Fx 5+ */
  -o-animation:      fadeIn 1s infinite; /* Opera 12+ */
  animation:         fadeIn 1s infinite;
}
.fadeIn{
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@media(min-width: 768px){
    .box-trajeto-loading{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .txt-ida{text-align: right;}
    .txt-volta{text-align: left;}
}

.box-logo-loading{
    width: 90px;
    margin: 50px auto;
}
.box-logo-loading img{
    display: block;
    width: 100%;
}
.txt-loading{
    font-size: 12px;
    color: #9c9c9c;
    text-align: center;
    width: 100%;
}
.txt-loading img{
    display: inline-block;
    width: 15px;
}

.modal-promo{
    width: 300px;
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 1000;
}

.header-modal-promo{
    background: #fd7e14;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
}
.header-modal-promo i{
    font-size: 16px;
    margin-right: 5px;
}
.header-modal-promo .close{
    margin-top: -5px;
    opacity: 0.2 !important;
}
.content-modal-promo{
    padding: 10px;
    background:#fff;
    border-left: 1px solid #dedede; 
    border-right: 1px solid #dedede; 
}

/* Passagem mais barata */
.cada-passagem-barata{
    border: 1px solid #eaeaea;
    padding:  15px;
    margin: 0 0 -1px 0!important;
    text-align: center;
}
.cada-passagem-barata h3{
    color: #696969;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Lato',sans-serif;
    margin: 10px 0 20px 0;
}
.cada-passagem-barata b{
    color: #c3c3c3;
    font-size: 11px;
    font-weight: 900;
    font-family: 'Lato',sans-serif;
    letter-spacing: 1px;
}
.cada-passagem-barata u{
    text-decoration: none;
    font-size: 16px;
    color: #696969;
    font-weight: 400;
    font-family: 'Lato',sans-serif;
}

.cada-passagem-barata small{
    color: #999;
    display: block;
    font-weight: 400;
    font-family: 'Lato',sans-serif;
    text-align: center;
    margin-top: 20px;
}

.cada-passagem-barata span{
    display: block;
    font-weight: 900;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    color: #696969;
    text-align: center;

}

.cada-passagem-barata .no-background{margin: 10px 0;}

@media(min-width: 1024px){
    .cada-passagem-barata{text-align: left;}
    .cada-passagem-barata h3{
        margin-top: 15px;
        margin-bottom: 0;
    }
    .cada-passagem-barata small{margin-top: 0px;}
}